.person-card .mat-card-avatar {
    width: 48px!important;
    height: 48px!important;
}

.person-card .mat-card-subtitle {
    margin-bottom: 0;
}

.person-card {
    position: relative;
    margin-bottom: 16px;
}