<div class="flex-container">
    <mat-toolbar class="white border-bottom">
        <span>Disclaimer privind utilizarea</span>
    </mat-toolbar>
    <div class="flex-content disclaimer-content">
        <h1>Agendă polițienească</h1>
        <p>Această aplicație este menită folosirii de către polițiști pentru înregistrarea într-o agendă electronică a persoanelor cu care aceștia interacționează.</p>
        <p><b>Datele introduse în această aplicație sunt stocate exclusiv pe acest dispozitiv.</b></p>
        <p>Dezvoltatorul acestei aplicații nu are acces la datele introduse și nu poate fi tras la răspundere pentru niciun mod în care această aplicație este folosită.</p>
        <p>Pentru a începe să folosiți această aplicație, sunteți obligat să acceptați acești termeni.</p>
    </div>
    <div class="flex-end">
        <mat-toolbar class="white border-top">
            <span class="spacer"></span>
            <button mat-button (click)="acceptTerms()">ACCEPT</button>
        </mat-toolbar>
    </div>
</div>